<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
  integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<link rel="stylesheet" href="https://bootstrap5.ru/css/docs.css">
  <title>Product App</title>
</head>

<body>
  <div id="app">
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
          <div class="container">
              <div class="row">
                  <div class="col-sm-8 col-md-7 py-4">

                  </div>
                  <div class="col-sm-4 offset-md-1 py-4">
                  </div>
              </div>
          </div>
      </div>
      <div class="navbar navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="#">
                   <strong>GT7 USED CAR DEALERSHIP</strong>
                  </a>
              <form class="d-flex">
                  <input v-model="searth" class="form-control mr-2" type="search" placeholder="Поиск" aria-label="Search">
              </form>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                  aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
      </div>
  </header>
  <div  v-for="car in cars" :car="car">
    <div class="product_cart">
        <div class="product-image">
            <img :src="image(car)" id='cars'/>
        </div>
        <div class="product-info">
            <h1>{{ title(car) }}</h1>
            <p v-if="inStock(car)">В наличии</p>
            <p v-else :class="{ outOfStock: !inStock(car) }">Автомобиль остутствует в продаже</p>
            <p>Характеристики:</p>
            <product-details :details="car.details"></product-details>
            <p>Доступные варианты окраски:</p>
            <div class="container">
                <div class="color-box" v-for="(variant, index) in car.variants" :key="variant.variantId"
                :style="{ backgroundColor:variant.variantColor }" @mouseover="updateProduct(car,index)">
                </div>
            </div>
            <button v-on:click="addToCart" :disabled="!inStock(car)" :class="{ disabledButton: !inStock(car) }">
            {{car.price}}
            </button>
            <p>{{ sale(car) }}</p>
        </div>
    </div>
</div>
  </div>
  <script src="index2.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>

</html>